<header>
    <div class="navbar">
        <a routerLink="/home"><div class="logo secondary-text">Your<b class="primary-text">_Job</b></div></a>
        <div class="search">
            <input type="text" [(ngModel)]="service.searchKey" (keyup.enter)="service.searchJobs()" autofocus>
            <button mat-icon-button class="search-icon" (click)="service.searchJobs()"><img src="assets/search.png" alt=""></button>
        </div>
        <div class="rigth-nav">
            <div class="nav-items">
                <button *ngIf="!isAuthenticated" mat-flat-button (click)="service.openSignupDialog()">signup</button>
                <button *ngIf="!isAuthenticated" mat-flat-button (click)="service.openLoginDialog()">login</button>
            </div>
            <div class="user" *ngIf="isAuthenticated" ><H1>{{service.user.first_name[0]}}</H1></div>
            <button *ngIf="isAuthenticated" mat-flat-button (click)="logout()">logout</button>
        </div>
    </div>
</header>