<app-nav-bar></app-nav-bar>
<div class="container">
    <img src="assets/sad.png" alt="" width="">
    <div>
        <h1 class="sorry">Sorry, no jobs were found for this search</h1>
    </div>
    <div>
        <p>Search Suggestions</p>
    </div>
    <div>
        <ul>
            <li>Make sure you enter keywords that represent skills or locations ex. MySQL, Yaounde, Web developer</li>
            <li>If searching by location, make sure to check the spelling.</li>
            <li>If using filters, try reducing your criteria in order to widen the search potential</li>
        </ul>
    </div>
</div>