<header>
    <div class="navbar">
        <div class="logo">Bertra</div>
        <div class="left-nav">
            <div class="nav-items">
                <a href="">Find Jobs</a>
                <a href="">Companies</a>
                <a href="">Upload cv</a>
            </div>
        </div>
        <div class="rigth-nav">
            <div class="nav-items">
                <a href="">Employers | Post Jobs</a>
                <button mat-flat-button (click)="service.openSignupDialog()">signup</button>
                <button mat-flat-button (click)="service.openLoginDialog()">login</button>
            </div>
        </div>
    </div>
</header>