mat-form-field {
    width: 100%;
}
button{
    width: 100%;
}
.icon-text {
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
}
mat-card{
    padding: 30px 20px;
}
.email-message{
    height: 50px;
    border-radius: 2px;
    margin: 10px 0;
    display: none;
    align-items: center;
    font-size: 16px;
}
div p{
    width: fit-content;
    margin: auto;
}