<mat-card>
    <h1 style="text-align: center;font-weight:500">Forgot Your Password?</h1>
    <mat-card-content>
        <div class="email-message" [ngStyle]="setStyle()">
            <p *ngIf="success==true"> Email sent to <span style="color: blueviolet;">{{service.forgotPassForm.value.email}}</span></p>
            <p *ngIf="success==false">Fail to send mail try again</p>
        </div>
        <form [formGroup]="service.forgotPassForm" (submit)="this.service.forgotPassForm.valid?onSubmit():denySubmit()">
            <mat-form-field appearance="outline">
                <mat-icon matPrefix><img src="assets/mail.png" alt="mail" ></mat-icon>
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="name@example.com" formControlName="email">
                <mat-error *ngIf="service.forgotPassForm.controls.email.hasError('required')">Email required</mat-error>
                <mat-error *ngIf="service.forgotPassForm.controls.email.hasError('email')">Invalid Email</mat-error>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" type="submit"><span class="icon-text">Submit<img src="assets/login.png" alt="lock"></span></button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
