<div class="container">
    <div class="main-container">
        <div class="logo secondary-text">Your<b class="primary-text">_Job</b></div>
        <div class="search">
            <input type="text" [(ngModel)]="service.searchKey" (keyup.enter)="service.searchJobs()" placeholder="Search for a job by skill, location and keywords">
        </div>
        <p class="secondary-text">Find Your Dream Job in 5 clicks and 1 keyword entry.  </p>
        <p>Quit the stress of leaving from job board to job board in the search of opportunities that suit your profile.</p>
    </div>
    <footer>Privacy Terms and Services</footer>
</div>